$weights: 100, 300, 400, 500, 700, 900;

@each $weight in $weights {
  @font-face {
    font-family: 'Vazirmatn';
    font-style: normal;
    font-weight: $weight;
    font-display: swap;
    src: url(../fonts/Vazir-Matn-Regular.woff2) format('woff2');
    unicode-range: U+609, U+60C, U+61B, U+61F, U+621-624, U+626-63A, U+641-642, U+644-648, U+64B-64D, U+651, U+654, U+66A-66C, U+67E, U+686, U+698, U+6A9, U+6AF, U+6CC, U+6F0-6F9;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: $weight;
    font-display: swap;
    src: url(../fonts/Roboto.woff2) format('woff2');
  }
}

// /* cyrillic-ext */
//   unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
// /* cyrillic */
//   unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// /* greek-ext */
//   unicode-range: U+1F00-1FFF;
// /* greek */
//   unicode-range: U+0370-03FF;
// /* vietnamese */
//   unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
// /* latin-ext */
//   unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// /* latin */
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
