[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-contrib-python = "*"
pandas = "*"
eventlet = "*"
environs = "*"
argparse = "*"
frozendict = "*"
xlsxwriter = "*"
fastapi-socketio = "*"
fastapi = "*"
uvicorn = {version = "*", extras = ["standard"]}
python-socketio = "*"
websockets = "*"
aiomqtt = "*"
setuptools = "*"
pynput = "*"
janus = "*"

[dev-packages]

[requires]
python_version = "3.11"
