[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-contrib-python = "*"
paho-mqtt = "*"
pandas = "*"
keyboard = "*"
openpyxl = "*"
flask = "*"
flask-restful = "*"
flask-socketio = "*"
eventlet = "*"
environs = "*"
imutils = "*"
argparse = "*"
frozendict = "*"
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.11"
